.container{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.img img{
   height: 100vh;
   width: 100%;

}
.img,.para{
    width:50%
}
.para{
    padding: 50px;
}